<ion-header>

  <ion-button expand="block" (click)="goTo('/home')">Volver a inicio</ion-button>

</ion-header>

<ion-content fullscreen>
  <div class="container">
    <h1>Cosas lindas del edificio</h1>
    <ion-button expand="block" (click)="takePicture()">Tomar una Foto</ion-button>
    <ion-button expand="block" (click)="goToListadoFotos('lindas')">Ver todas las fotos</ion-button>
    <ion-button expand="block" (click)="goTo('resultados')">Ver resultados</ion-button>
  </div>
</ion-content>


