/*@font-face {
    font-family: IMFellDWPica;
    src: url(../assets/fonts/IMFellDWPica-Regular.ttf);
}

@font-face {
    font-family: IMFellDWPica;
    src: url(../assets/fonts/IMFellDWPica-Italic.ttf);
}*/

@font-face {
    font-family: SpecialElite;
    src: url(../assets/fonts/SpecialElite-Regular.ttf);
}